.cardContainer {
    background-color: white;
    padding: 12px 18px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 15px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconContainer {
    border-radius: 10px;
    padding: 6px 9px;
}

.titleText {
    text-transform: capitalize;
    color: #878787;
    margin-bottom: 8px;
}

.bottomContainer {
    
}
