.container {
  color: #243d7d;
  padding: 44px 30px 0 30px;
  background-color: #F7F7F7 !important;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  font-size: 32px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: Bold;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #2E2E2E;
}
.headingText {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  color: #878787;
  margin-top: 8px;
}
.buttonContainer {
  display: flex;
  gap: 16px;
}
.widFunds {
  background-color: transparent;
  color: #214CCF;
  border: 1px solid transparent;
  border: 1px solid #214CCF;
}
.topUpFunds {
  background-color: #214CCF;
  color: white;
  border: 1px solid #214CCF;
}

.outlineButton {
  background-color: transparent;
  color: #214ccf;
  border: 1px solid #214ccf;
  padding: 8px 12px;
  min-width: 200px;
  max-width: 240px;
}

.cardContainer {
  margin-top: 29px;
  margin-bottom: 32px;
  max-width: 513px;
}
.activities h5 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #292727;
}
.activities .emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #979ca0;
}
.activities div p {
  margin: 0;
}
@media (max-width: 1200px) {
  .container {
    /* width: 95vw; */
  }
}
@media screen and (max-width: 700px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .header {
    font-size: 1.9rem;
  }
  .container {
    padding-top: 19px;
  }
  .backContainer {
    margin-bottom: 1.2rem;
  }
  .headingText {
    margin-top: 0 !important;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .container {
    padding: 1vh 0 0 4vw;
  }
}
