.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.modalContainer h2{
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #3475DF;
}
.modalContainer p{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}
.buttonContainer{
    display: flex;
    gap: 1rem;
}
.buttonContainer button:first-of-type{
    border: none;
    color: #204D88;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: transparent;
}
.buttonContainer button:last-of-type{
    border: none;
    color: white;
    background-color: #3475DF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: .5rem 1rem ;
}