.activities {
  margin: 4.47vh 0 0;
}

.activities h5 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1.7vh;
  margin-top: 0;
  margin-bottom: 2.45vh;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.activitiesList {
  box-shadow: 0px 0px 30px 0px #00000026;
  display: flex;
  border-radius: 1.4rem;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 5.43vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2.45vh;
  padding: 0 1rem;
  height: 51px;
}

.activitiesList img {
  object-fit: contain;
  height: 3.19vh;
}

.activitiesList h4 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #204d88;
  font-size: 2.13vh;
}

.activitiesList h6 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 2.13vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2rem;
  /* padding: 0 1rem; */
  font-weight: bold;
  color: #535353;
}

.activitiesList p {
  color: #535353;
  font-size: 2.13vh;
}

.notificationWrapper {
  width: 71.46vw;
  margin-top: 6.06vh;
}
.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .notificationWrapper {
    width: 90vw;
  }
}
