.totals {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}

.lightBlue {
  background-color: #8dccfe;
  color: #000;
}

.darkBlue {
  background-color: #214ccf;
  color: #fff;
}

.purple {
  background-color: #7131da;
  color: #fff;
}

.savingsActivities {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 70vh;
}

.savingsVault {
  width: 82.71%;
}

.personalSavings {
  box-shadow: 0px 0px 40px 0px #00000040;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-top: 3.62vh;
  padding: 2.23vh 61px 2.13vh 36px;
  height: 9.81vh;
  width: 83.2%;
}

.personalSavings img {
  object-fit: contain;
  height: 5.32vh;
}

.personalSavingsText {
  font-family: var(--font-montserrat);
  padding: 0 1rem;
}

.personalSavingsText h3 {
  font-weight: 700;
  font-size: 2.55vh;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 1.49vh;
  margin-top: 0;
}

.personalSavingsText p {
  font-weight: 500;
  font-size: 1.7vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #204d88;
  width: 95%;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.familyVault {
  box-shadow: 0px 0px 40px 0px #00000040;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-top: 2.02vh;
  padding: 2.98vh 61px 2.23vh 42px;
  background-color: #7131da;
  height: 11.79vh;
  color: #fff;
  width: 83.2%;
}

.familyVault img {
  object-fit: contain;
  height: 5.32vh;
}

.familyVault > .loanAndInvestmentButton {
  background: #fff;
  color: #3475df;
}

.familyVault > .loanAndInvestmentButton:hover {
  background: #4f85e3 !important;
  color: #fff !important;
}

.familyVaultText {
  font-family: var(--font-montserrat);
  padding: 0 1rem;
  width: 90%;
}

.familyVaultText h3 {
  font-weight: 700;
  font-size: 2.55vh;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 1.49vh;
}

.familyVaultText p {
  font-weight: 500;
  font-size: 1.7vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
}

.activities {
  margin: 4.47vh 0 0;
}

.activities h5 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1.7vh;
  margin-top: 0;
  margin-bottom: 2.45vh;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.activitiesList {
  box-shadow: 0px 0px 30px 0px #00000026;
  display: flex;
  border-radius: 1.4rem;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 5.43vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2.45vh;
  padding: 0 1rem;
  height: 51px;
}

.activitiesList img {
  object-fit: contain;
  height: 3.19vh;
}

.activitiesList h4 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #204d88;
  font-size: 2.13vh;
}

.activitiesList h6 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 2.13vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2rem;
  /* padding: 0 1rem; */
  font-weight: bold;
  color: #535353;
}

.activitiesList p {
  color: #535353;
  font-size: 2.13vh;
}

.loansAndInvestment {
  width: 31%;
  display: flex;
  flex-direction: column;
  height: 68.77vh;
}

.loanCard {
  height: max-content;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px 0px #00000040;
  margin-top: 3.62vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  height: 35.53vh;
}

.loanCard h3 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 2.55vh;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #204d88;
  margin: 1rem 1.6rem;
}

.loanAndInvestmentButton {
  border-radius: 10px;
  background-color: #4f85e3;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  width: 190px;
  margin: 0.4rem auto;
  font-size: 13px;
  height: 5.74vh;
}

.loanAndInvestmentButton:hover {
  background-color: #8dccfe;
  cursor: pointer;
}

.loanCard img {
  height: 10vh;
  margin: 0 auto;
  position: relative;
  bottom: 0px;
  object-fit: contain;
}

.investments {
  background-color: #8dccfe;
  box-shadow: 0px 0px 40px 0px #00000040;
  border-radius: 15px;
  padding: 0.2rem 2rem 0.5rem 2rem;
  margin-top: 2.45vh;
  height: 25.78vh;
  display: flex;
  flex-direction: column;
}

.investments h3 {
  color: #fff;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 2.55vh;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  margin: 0.3rem 0;
}

.investments p {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1.7vh;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #204d88;
  margin: 0.3rem 0;
}

.mobileContainer {
  display: none;
}

@media screen and (max-width: 1008px) {
  .totalCategories {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  .savingsActivities {
    flex-direction: column-reverse;
    height: max-content;
  }

  .loansAndInvestment {
    width: 100%;
    gap: 20px;
    flex-direction: row;
    height: max-content;
  }

  .loanCard {
    height: 22rem;
    justify-content: space-between;
  }

  .investments {
    margin-top: 3.62vh;
    height: 22rem;
  }

  .investments h3 {
    margin: 3.3rem 0;
  }

  .investments p {
    margin: 0.3rem 0 3.3rem;
  }

  .loanCard h3 {
    margin: 3rem 1rem;
  }

  .savingsVault {
    width: 100%;
  }
}

@media screen and (min-width: 744px) and (max-width: 762px) {
  .container {
    width: 90.71%;
    margin: 6.23vh 1.32vw 0;
  }
}

@media screen and (max-width: 743px) {
  .container {
    display: none;
  }

  .mobileContainer {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .mobileContainer h1 {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-align: start;
    color: #204d88;
    margin: 5vh 3rem;
    width: 100%;
  }

  .mobileContainer strong {
    font-weight: 800;
  }

  .mobileScroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .mobileScrollWrapper {
    /* position: relative; */
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: flex-start;
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .mobileTotals {
    display: flex;
    width: max-content;
  }

  .mobileTotalCategories {
    scroll-snap-align: center;
    flex: 0 0 20em;
    margin-right: 1.4rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }

  .mobileTotalCategories p {
    font-family: var(--font-montserrat);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .textIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileTotalCategories h3 {
    font-family: var(--font-montserrat);
    font-size: 3rem;
    margin: 0;
    font-weight: 800;
  }

  .mobileBankActions {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .bankActions {
    border: 2px solid #acb5bd;
    border-radius: 1.3rem;
    width: 4rem;
    text-align: center;
    padding: 0.7rem 0;
  }

  .bankActions img {
    width: 20px;
    height: 20px;
  }

  .vaultWrapper {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 1rem;
  }

  .mobileSavingVault {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 16px; /* Optional: space between cards */
    padding-bottom: 8px; /* Optional: for scroll bar space */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    height: 15rem;
    overflow-y: hidden;
  }

  .mobileSavingVault::-webkit-scrollbar {
    display: none;
  }

  .pazSaver,
  .mobileFamilyVault {
    flex: 0 0 24rem; /* or your preferred card width */
    scroll-snap-align: center;
    min-width: 250px; /* fallback minimum width */
    height: 11rem;
  }

  .pazSaver {
    box-shadow: 0px 0px 15px 0px #00000040;
    width: 25%;
    /* height: 40%; */
    border-radius: 1rem;
    padding: .6rem 2rem;
    margin: 2rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header h3 {
    margin-top: 1rem;
    font-family: var(--font-montserrat);
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .pazSaver p {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: wrap;
    color: #204d88;
  }

  .mobileButton {
    width: 50%;
    padding: 0.6rem 0.7rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: #8dccfe;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: var(--font-montserrat);
    display: flex;
    justify-self: end;
    justify-content: center;
  }

  .mobileFamilyVault {
    box-shadow: 0px 0px 15px 0px #00000040;
    width: 25%;
    /* height: 40%; */
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 2rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .mobileFamilyVault p {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: wrap;
    color: #fff;
  }

  .mobileLoanReminder {
    background-color: #8dccfe33;
    border: 2px solid #03a9f4;
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 1rem 2rem;
  }

  .loanButton {
    width: 30%;
    padding: 0.6rem 0.7rem;
    border-radius: 0.8rem;
    border-color: transparent;
    background-color: #8dccfe;
    color: #fff;
    font-size: 2.4cqw;
    font-weight: 300;
    font-family: var(--font-montserrat);
  }

  .mobileLoanReminderText p {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 3cqw;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #535353;
    margin: 0.8rem 0;
  }

  .mobileLoanReminderText h3 {
    margin-top: 1rem;
    font-family: var(--font-montserrat);
    font-weight: 800;
    font-size: 3.5cqw;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .mobileLoanReminderText span {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 2.3cqw;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .mobileRecentActivities {
    margin: 3rem;
  }

  .mobileRecentActivities h3 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 4.5cqw;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .mobileActivity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.6rem;
  }

  .mobileActivity img {
    margin-top: 1rem;
  }

  .activityText h5 span {
    color: #535353;
  }

  .activityText h5 {
    color: #204d88;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 3.5cqw;
    line-height: 1px;
    letter-spacing: 0%;
    margin: 1.5rem 0;
  }

  .activityText p {
    color: #535353;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 2.7cqw;
    line-height: 1px;
    letter-spacing: 0%;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .cardScrollIndicatorDot {
    width: 7px !important;
    height: 7px !important;
  }
}

@media screen and (min-width: 900px) {
  .mobileScrollWrapper > div:first-child {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .mobileScroll {
    padding-left: 0%;
  }

  .mobileContainer h1 {
    font-size: 1.4rem;
  }

  .mobileLoanReminder {
    margin: 1rem 0.7rem;
    padding: 1rem 0.9rem;
  }

  .mobileRecentActivities {
    margin: 1.3rem;
  }
  .mobileTotalCategories{
    height: 6rem;
  }
  .mobileTotalCategories p{
    font-size: 1.1rem;
  }
  .mobileTotalCategories h3{
    font-size: 2.4rem;
  }
}
