/* side bar width is width: 17.29vw; */

.dashboardMain {
  display: grid;
  grid-template-columns: 17.29vw 1fr;
  min-height: calc(100vh - var(--navbar-height, 0px));
  width: 100%;
}

.content {
    padding: 15px 48px;
    overflow-y: auto;
}

@media screen and (max-width: 1201px) {
  .dashboardMain {
    display: flex;
    position: relative;
  }

  .dashboardMain > aside {
    position: fixed;
    left: 0;
    top: var(--navbar-height, 0px);
    height: calc(100vh - var(--navbar-height, 0px));
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .dashboardMain > aside.open {
    transform: translateX(0);
  }

  .content {
    flex: 1;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .content {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 743px) {
  .dashboardMain {
    flex-direction: column;
    height: auto;
  }

  .content {
    padding: 0px;
    width: 100%;
  }
}
