.container {
    background-color: white;
    padding: 3rem 43px;
    overflow-x: hidden;
}

.innerContainer {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}

.savingsPlanContainer{
    margin-left: 43px;
}

.savingsCards{
    margin-bottom: 3rem;
}

@media screen and (max-width: 450px) {
    .container{
        padding: 2rem 43px;
    }
}
