.heading,
.midSection {
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  padding: 14px 28px;
}

.headingRight,
.midSectionRight {
  display: flex;
  gap: 8px;
}

.outlineButton {
  background-color: transparent;
  color: #214ccf;
  border: 1px solid #214ccf;
  padding: 8px 12px;
  min-width: 200px;
  max-width: 240px;
}

.midSection {
  margin-top: 26px;
}

.savingsPlansContainer {
  margin-top: 26px;
  padding: 14px 28px;
}

.savingsPlanInnerContainer {
  display: flex;
  gap: 16px;
}
