.inputGroup {
  width: 100%;
  width: -moz-available; /* Firefox */
  width: -webkit-fill-available; /* Safari/Chrome */
  width: fill-available; /* Future unprefixed */
  height: 74px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.selectinput::placeholder {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #aaa;
}

.inputError {
  border: 1px solid red;
}

.inputError {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}


.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.label {
  font-size: 14px;
  margin-bottom: 14px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
}

.icon {
  padding-right: 17px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: transparent;
}

.selectinput {
  flex: 1;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  outline: none;
  background: transparent;
  border-radius: 8px;
  border: solid 1px #c4c4c4;
}
@media screen and (max-width: 475px){
    .inputGroup{
        width: 100% !important;
    }
}
@media screen and (min-width: 522px) and (max-width: 720px){
  .inputGroup{
    width: 100%;
  }
}