.container{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.4vh;
    line-height: 46px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #243D7D;
}
.header p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.13vh;
    line-height: 100%;
    letter-spacing: 0%;
    color: #204D88;
}
.header button{
    background-color: #243D7D;
    color: #fff;
    width: 99px;
    height: 36px;
    border-radius: 10px;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
    border: none;
}
.totalAmountCardContainer{
    color: #204D88;
}
.totalAmountCardContainer h3{
    color: #243D7D !important;
}