.dropdown{
    width: 184px;
    padding: 16px 12px;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    position: absolute;
    top: 4rem;
    right: 10px;
    color: #2E2E2E;
    z-index: 1000;
}
.header{
    font-size: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #F5F5F5;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.link{
    font-size: 14px;
    color: #2E2E2E;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
}
.link:hover{
    background: #F5F5F5;
}
