:root {
  --primary: #243d7d;
  --primary-blue: #3475df;
}

h1 {
<<<<<<< HEAD
  font-family: "Inter", sans-serif;
=======
    font-family: var(--font-inter);
>>>>>>> chore/refactor
}

body {
  padding: 0;
  margin: 0;

  /* Restricting the minimum size of the window so that we don't have to deal with what things look like lower than that size */

  min-width: 320px;
}

button {
  cursor: pointer;
}

button.primary {
  background-color: #3475df;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 20rem;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  margin: 2rem;
<<<<<<< HEAD
}

button:hover {
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #aaa;
  font-weight: 500;
}

@media not prefers-reduced-motion {
  .special-underline {
    position: relative;
  }

  .special-underline::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 15;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--primary-blue);
    transition: width 0.2s;
  }

  .special-underline:hover:after {
    width: 100%;
  }
=======
>>>>>>> chore/refactor
}

button:hover {
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* @media not prefers-reduced-motion { */
/*   .special-underline { */
/*     position: relative; */
/*   } */

/*   .special-underline::after { */
/*     content: ""; */
/*     position: absolute; */
/*     height: 5px; */
/*     top: 15; */
/*     left: 0; */
/*     bottom: 0; */
/*     width: 0; */
/*     background-color: var(--primary-blue); */
/*     transition: width 0.2s; */
/*   } */

/*   .special-underline:hover:after { */
/*     width: 100%; */
/*   } */
/* } */
