:root {
  --primary: #243d7d;
  --primary-blue: #3475df;
  --error-red: #ff3333;
}

h1 {
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-width: 354px;
  width: auto !important;
}

button {
  cursor: pointer;
}

button.primary {
  background-color: #3475df;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 20rem;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  margin: 2rem;
}

@media not prefers-reduced-motion {
  .special-underline {
    position: relative;
    width: fit-content;
  }

  .special-underline::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 15;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--primary-blue);
    transition: width 0.2s;
  }

  .special-underline:hover:after {
    width: 100%;
  }
}
