.container {
  color: #243d7d;
  padding: 0 1rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  font-size: 4vh;
  margin-top: 0;
  margin-bottom: 0rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: Bold;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.headingText {
  font-size: 3.13vh;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
}
.backContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #204d88;
  font-size: 2.1vh;
  margin: 0;
}
.backContainer p {
  margin: 0;
  font-family: "Monserrat", sans-serif;
}
.widFunds {
  background-color: #243d7d;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  border: 1px solid transparent;
  height: 2rem;
}
.actionsContainer {
  display: flex;
  gap: 1rem;
  justify-content: end;
  font-family: "Monserrat", sans-serif;
  align-items: center;
}
.activities h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #292727;
}
.activities .emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #979ca0;
}
.activities div p {
  margin: 0;
}
.totalContainer{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 2vh 0 0 2vw;
  }
}

@media screen and (max-width: 800px) {
  .totalContainer{
    gap: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .headerContainer{
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }
}
