.container {
    padding: 36px 49px;
}

.loanCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
}

/* hide horizontal scrollbar across browsers while preserving scroll */
.loanCardContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
}
.loanCardContainer::-webkit-scrollbar {
  height: 0; /* Chrome, Safari, Opera */
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.48px;
    color: #2E2E2E;
}

.bottomContainerNone{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17rem;
}

.bottomContainerNone>img{
  object-fit: contain;
}