.nav {
  height: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #243d7d;
  padding: 17px 40px;
}

.logo {
  height: 4.53vh;
  object-fit: contain;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.opContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 13rem;
}

.notificationBell {
  width: 16px;
  height: 20px;
  cursor: pointer;
  margin: auto 0;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navContainer {
    padding: 17px 20px;
  }

  .opContainer {
    width: 10rem;
  }

  .userContainer {
    gap: 0.5rem;
  }

  .logoContainer {
    gap: 1rem;
  }

  .logo {
    width: 63px;
    height: 21px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
