.container {
}

.header {
  font-family: "montserrat", sans-serif;
  font-size: 3.4vh;
  margin: 2.2vh 0 !important;
  color: #204d88;
  font-weight: 700;
}

.headerText {
  font-size: 1.7vh;
  font-weight: 500;
  color: #204d88;
  margin: 0.8vh 0;
}

.notificationWrapper {
  width: 71.46vw;
  margin-top: 6.06vh;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .notificationWrapper {
    width: 90vw;
  }
}
