body{
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 4rem 1rem;
    width: 90vw;
}
.totals{
    gap: 30px;
    display: flex;
}
.totalCategories{
    width: 100%;
    height: 134px;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.textIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textIcon p{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.totalCategories h3{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 200%;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.lightBlue{
    background-color: #8DCCFE;
    color: #000;
}
.darkBlue{
    background-color: #214CCF;
    color: #fff;
}
.purple{
    background-color: #7131DA;
    color: #fff;
}
.savingsActivities{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.savingsVault{
    width: 66%;
}
.personalSavings{
    box-shadow: 0px 0px 40px 0px #00000040;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.personalSavingsText{
    font-family: var(--font-montserrat);
    padding: 0 1rem;
}
.personalSavingsText h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.personalSavingsText p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #204D88;
    width: 80%;
}
.familyVault{
    box-shadow: 0px 0px 40px 0px #00000040;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-top: .9rem;
    padding: 1rem 2rem;
    background-color: #7131DA;
    color: #fff;
}
.familyVaultText{
    font-family: var(--font-montserrat);
    padding: 0 1rem;
}
.familyVaultText h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.familyVaultText p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    width: 80%;
}
.activities{
    margin: 3rem 1rem;
}
.activities h5{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.activitiesList{
    box-shadow: 0px 0px 30px 0px #00000026;
    display: flex;
    border-radius: 1.4rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.activitiesList h4{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: #204D88;
}
.activitiesList h6{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2rem;
    /* padding: 0 1rem; */
    font-weight: bold;
    color: #535353;
}
.activitiesList p{
    color: #535353;
}
.loansAndInvestment{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.loanCard{
    height: max-content;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 40px 0px #00000040;
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}
.loanCard h3{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #204D88;
    margin-bottom: 28px;
}
.loanAndInvestmentButton{
    padding: 12px 26px;
    border-radius: 10px;
    background-color: #4F85E3;
    border: none;
    color: #fff;
    margin-bottom: 20px;
    width: 190px;
    margin: 1rem auto;
    font-size: 13px;
}
.loanCard img{
    width: 100%;
}

.investments{
    background-color: #8DCCFE;
    box-shadow: 0px 0px 40px 0px #00000040;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.investments h3{
    color: #fff;
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}
.investments p{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #204D88;
}

.mobileContainer{
    display: none;
}
@media screen and (max-width: 1008px) {
    .totalCategories{
    padding: 1rem 1rem;
    }
}
@media screen and (max-width: 900px) {
    .savingsActivities{
        flex-direction: column-reverse;
}
    .loansAndInvestment{
        width: 100%;
        gap: 20px;
        flex-direction: row;
}
    .loanCard{
        height: 22rem;
        justify-content: space-between;
    }
    .loanCard h3{
        margin: 3rem 1rem;
    }
    .savingsVault{
        width: 100%;
    }
}
@media screen and (max-width: 743px) {
    .container{
        display: none;
    }
    .mobileContainer{
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
        width: 100vw;
    }
    .mobileContainer h1{
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
        text-align: start;
        color: #204D88;
        margin: 2rem 3rem;
    }
    .mobileContainer strong{
        font-weight: 700;
    }
    .mobileScroll{
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .mobileTotals{
        display: flex;
        width: max-content;
        scrollbar-width: none;
        margin: 1rem 1rem;
    }
    .mobileTotalCategories{
        width: 100%;
        border-radius: 1rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;
    }
    .mobileTotalCategories p{
        font-family: var(--font-montserrat);
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    .mobileTotalCategories h3{
        font-family: var(--font-montserrat);
        font-size: 3rem;
        margin: 0;
        font-weight: 800;
    }
    .mobileBankActions{
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }
    .bankActions{
        border: 2px solid #ACB5BD;
        border-radius: 2rem;
        width: 19%;
        text-align: center;
        padding: 1.5rem 0;
    }
    .mobileSavingVault{
        display: flex;
        width: 100vw;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }
    .pazSaver{
        box-shadow: 0px 0px 20px 0px #00000040;
        width: 60%;
        border-radius: 1rem;
        padding: 2rem;
        margin: 2rem;
    }
    .header{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .header h3{
        font-family: var(--font-montserrat);
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    .pazSaver p{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0%;
        white-space: wrap;
        color: #204D88;
    }
    .mobileButton{
        border-radius: 2rem;
        border: none;
        padding: 1rem;
        background-color: #8DCCFE;
        color: #fff;
        display: flex;
        justify-self: end;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .mobileFamilyVault{
        box-shadow: 0px 0px 20px 0px #00000040;
        width: 60%;
        border-radius: 1rem;
        padding: 2rem;
        margin: 2rem;       
    }
    .mobileFamilyVault p{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
        white-space: wrap;
    }
    .mobileLoanReminder{
        background-color: #8DCCFE33;
        border: 2px solid #03A9F4;
        margin: 1rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;
        padding: 1rem;
    }
    .mobileLoanReminderText p{
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #535353;
    }
    .mobileLoanReminderText h3{
        font-family: Montserrat;
        font-weight: 700;
        font-size: 2rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #535353;
    }
     .mobileLoanReminderText span{
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 1rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
     }
     .mobileRecentActivities{
        margin: 3rem;
     }
     .mobileRecentActivities h3{
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 2rem;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
     }
     .mobileActivity{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.6rem;
     }
     .mobileActivity img{
        margin-top: 1rem;
     }
     .activityText h5 span{
        color: #535353;
     }
     .activityText h5{
        color: #204D88;
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1px;
        letter-spacing: 0%;
        margin: 1.5rem 0;
     }
     .activityText p{
        color: #535353;
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1px;
        letter-spacing: 0%;
        margin: 0;
     }
}