.container {
  color: #243d7d;
}

.header {
  font-size: 4vh;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: Bold;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.headingText {
  font-size: 2.13vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

.cardConainer {
  width: 26.59vw;
  height: 18.81vh;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px #00000026;
  padding: 23px 21px;
}

.cardConainer h2 {
  color: #535353;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.13vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 10px;
}

.cardConainer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.9vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4e5a66;
  margin: 0;
}

.cardConainer h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0.6rem 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.13vh;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.cardBottom p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #243d7d;
}

.cardBottom p span {
  color: #535353;
}

.savingsOwner {
  width: 9.4vw;
  height: 2.4vh;
  background-color: #bfe9c3a1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.4rem;
  border-radius: 1rem;
}

.savingsOwner p {
  color: #44bf50;
}

@media screen and (min-width: 916px) {
  .topContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* Medium screens - 3 columns */
@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small screens - 1 column */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
