.sidebar {
  width: 17.29vw;
  background-color: #fafafa;
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.sidebarContainer h3 {
  font-family: var(--font-poppins);
  color: #204d88;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sidebarContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  color: #4e5a66;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: var(--font-montserrat);
  font-weight: 500;
  cursor: pointer;
  width: 60%;
  justify-content: start;
}

.sidebarContent:hover {
  background-color: #339af01a;
  border-radius: 10px;
  width: 100%;
}
.sidebarContent:hover img {
  margin-left: 20%;
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: #4e5a66;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: var(--font-montserrat);
  font-weight: 500;
  cursor: pointer;
  width: 60%;
  justify-content: start;
}

.logout:hover {
  background-color: #339af01a;
  border-radius: 10px;
  width: 100%;
}

.logout:hover img {
  margin-left: 20%;
}

.active {
  background-color: #339af01a;
  width: 100%;
}
.active img {
  margin-left: 20%;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 20rem;
    padding: 1rem;
    position: absolute;
    top: 0;
  }
  .collapsed {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .sidebar {
    left: 0;
    top: 0;
    height: 80rem;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    width: 60%;
    padding: 1rem;
    position: absolute;
    top: 0;
  }
  .collapsed {
    display: none;
  }
}
