.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 2rem;
}

/* Medium screens - 3 columns */
@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small screens - 1 column */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.cardConainer {
  min-height: 84px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px #00000026;
  padding: 23px 21px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardConainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 40px 0px #00000035;
}

.cardConainer h2 {
  color: #535353;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.13vh;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 10px;
}

.cardConainer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.9vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4e5a66;
  margin: 0;
}

.cardConainer h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0.6rem 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.13vh;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.cardBottom p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8vh;
  line-height: 100%;
  letter-spacing: 0%;
  color: #243d7d;
}

.cardBottom p span {
  color: #535353;
}

.savingsOwner {
  width: fit-content;

  height: 2.4vh;
  background-color: #bfe9c3a1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 1rem;
}

.savingsOwner p {
  color: #44bf50;
}
