.eligibilityDetails{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.eligibilityDetails h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #3475DF;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
.eligibilityDetails p{
    color: #292727;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}
.eligibilityDetails h1{
    color: #3475DF;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: .1rem 0 2.5rem 0;
}
.eligibilityDetails h6{
    color: #292727;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2rem;
}
.eligibilityDetails h6 span{
    font-weight: 700;
    font-size: 17px;
}
.eligibilityDetails button{
    border: none;
    background-color: #3475DF;
    color: #fff;
    padding: .6rem 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: .4rem;
}
.modalForm{
    text-align: start;
    width: 80%;
}
.modalForm>input{
    height: 54px;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #D9D9D9;
}
.modalForm label{
    display: block;
}
@media screen and (max-width: 900px){
    .modalTitle{
        margin: 0.8rem 1rem .5rem;
        text-align: center;
        font-size: 20px;
    }
    .modalDescription{
        font-size: 13px;
    }
    .modalForm{
        margin: auto;
    }
    .modalForm2{
        margin: 0;
        width: 100%;
    }
    /* .modalForm input{
        width: 15rem;
    } */
    /* .modalForm select{
        width: 16rem;
    } */
    .modalForm label{
        padding-left: 0;
        font-size: 12px;
    }
}
@media screen and (max-width: 744px){
    .container{
        width: 100vw;
    }
}
@media screen and (max-width: 522px) {
    .container{
        padding-top: 0;
    }
    .modalForm{
        width: 85vw;
    }
    .modalForm2{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 978px){
    .eligibilityDetails h3{
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .eligibilityDetails p{
        font-size: 13px;
        margin-bottom: 2rem;
    }
}