.container{
    padding: 0 42px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.header{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #2E2E2E;
    margin-bottom: 24px;
    margin-top: 0;
}