.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.body {
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .main {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 743px) {
  .main {
    justify-content: start;
    align-items: center;
    height: auto;
  }
}
